<footer>
    <div class="container-fluid border-top">
        <div class="row">
            <div class="col-12">
               <a href="api/dev">API</a> 
            </div>
        </div>
    </div>
</footer>