 <div class="container">
        <div class="container shadow p-3 mb-5 bg-white rounded">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">API</li>
                  <li class="breadcrumb-item">v1</li>
                  <li class="breadcrumb-item active" aria-current="page"> <a href="/api/v1/supports">supports</a></li>
                </ol>
              </nav>
        </div>
        <div class="container shadow p-3 mb-5 bg-white rounded">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">API</li>
                  <li class="breadcrumb-item">v1</li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="/api/v1/warriors">warriors</a></li>
                </ol>
              </nav>
        </div>
        <div class="container shadow p-3 mb-5 bg-white rounded">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">API</li>
                  <li class="breadcrumb-item">v1</li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="/api/v1/assassins">assassins</a></li>
                </ol>
              </nav>
        </div>
    </div>